* {
margin: 0;
padding: 0;
background: #E5E5E5;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

li {
list-style: none;

}

a {
color: #434455;
text-decoration: none;
font-style:normal;
}

p {
color:#434455;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;
}

a.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
color: #2E2F42;
text-transform:uppercase;
}

a.logo span {
color: #4D5AE5;
}

a:hover, a:focus {
    color: rgb(162, 19, 19);
    text-decoration: underline;
} 